---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About John Bradley"
	pubDate={new Date('July 19 2026')}
>
	<p>
		I'm John Bradley, a software developer. This is my personal blog, where I write about software
		and technology.
	</p>

	<p>
		You can find me on <a href="https://github.com/johnbradley">GitHub</a>.
	</p>
</Layout>
